<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Support</title>
    <style>
    *{ 
        margin: 0; 
        padding: 0; 
        box-sizing: border-box; 
    }
    
    body{ 
        font: 13px Helvetica, Arial; 
    }

    input{ 
        padding: 10px; 
        margin-top: 10px;
        width: 90%; 
        border: 1.5px solid rgb(37, 37, 37); 
    }

    button{ 
        width: 9%; 
        margin-top: 10px;
        background: rgb(154, 206, 134); 
        border: 1.5px solid rgb(128, 128, 128); 
        padding: 10px; 
    }

    img{
        width: 250px;
        height: 100px;
    }
    </style>
</head>
<body>
    <button id="joinroom">ASK US</button>
    <img src="https://www.dmxzone.com/downloads/images/GetSupport2_1.png" alt="support">

    <input type="text" id="text_to_room"/>
    <button id="btn_to_room">SEND TO ROOM</button>

    <script src="/socket.io/socket.io.js"></script>

    <script>
        const moveToAuth = () => window.location.href = "/auth";

        let token = localStorage.getItem('access_token');
        if (!token) {
            moveToAuth();
        }

        const socket = io();
        
        const btn_to_room = document.getElementById('btn_to_room');
        const text_to_room = document.getElementById('text_to_room');
        const joinroom = document.getElementById('joinroom');

        btn_to_room.onclick = () => {
            socket.emit('msg', text_to_room.value);
            text_to_room.value = '';
        }

        joinroom.onclick = () => {
            const room_id = Math.floor(Math.random() * 1000) + 1;
            socket.emit('joinroom', {
                room_id,
                token
            });
        };

        socket.on('unauthorized', errorMsg => {
            confirm(errorMsg);
            moveToAuth();
        });

        socket.on('msg_resp', data => {
            const msgBlock = document.createElement('div');

            msgBlock.innerText = `User: ${data.userName} \n Message: ${data.message}`;

            msgBlock.style.border = `1.5px solid blue`;
            msgBlock.style.width = `90%`;
            msgBlock.style.padding = `5px`;
            msgBlock.style.marginTop = `5px`;

            document.body.appendChild(msgBlock);
        });
    </script>
</body>
</html>