<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/houses" method="post">
        <p>Select your flat</p>
        <input type="text" name="city" placeholder="city">
        <input type="text" name ="street" placeholder="street">
        <input type="text" name="square" placeholder="square meters">
        <input type="text" name ="price" placeholder="price">
        <input type="submit">
    </form>
</body>
</html>