<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .main{
        height: 100px;
        width: 800px;
        background: rebeccapurple;
    }
    img{
        height: 500px;
        width: 800px;
    }
    </style>
</head>
<body>
    <div class="main"></div>
    <h1>Hello. You are welcome to us!</h1>
    <div>
        <img src="https://vn.com.ua/Media/images/complex/big/77187624a8a37c0a83b102a0f8ee8f52.jpg" alt="flat">
    </div>
</body>
</html>