<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="/houses/edit/{{id}}" method="post">
        <p>Update flat</p>
        <input type="text" name="city" value="{{city}}" placeholder="enter city">
        <input type="text" name="square" value="{{square}}" placeholder="enter square">
        <input type="text" name ="price" value="{{price}}" placeholder="enter price">
        <button type="submit" value="patch">Edit</button>
    </form>

</body>
</html>
